:root {
  /* 页面背景色 */
  --body-background-color: #f2f4f6;
  /* --body-color: #222222; */

  /* 间距 */
  --gap: 24px;

  /* header 相关 */
  --header-background-color: #fff;
  --header-item-hover-background-color: #fff;
  /* footer 相关 */
  --footer-background-color: #ddd;

  /* 页面模块相关 */
  --block-background-color: #fff;
  --block-border-radius: 12px;
  --block-padding: 24px;
}
