:root {
    // 页面背景色
    --body-background-color: #eee;
    // --body-color: #222222;

    // 间距
    --gap: 24px;

    // header 相关
    --header-background-color: #fff8;
    --header-item-hover-background-color: #fff;
    // footer 相关
    --footer-background-color: #ddd;
}